{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block style %}
    <style>
        .hello {margin: 1em 0; font: 18px/1.5 sans-serif; display: flex; flex-wrap: wrap; white-space: nowrap;}
        .hello > h3 {margin: 0 1em;}

        .helloContent {padding: 1em; font: 18px/1.5 sans-serif; display: flex; flex-direction: column;}
    </style>
{% endblock %}

{% block main %}
    <div class='hello'>
        <h3>✅ Hello Symfony!</h3>
        <h3>✅ Hello DB!</h3>
    </div>
    <hr/>

    <div class='helloContent' style=''>
        <a href='/api'>API Platform</a>
        &nbsp;
        <div>Custom APIs:</div>
        &nbsp;
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product') }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product') }}</a></div>
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product', {id: 1}) }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product', {id: 1}) }}</a>
            (API Platform default Serializer)</div>
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product-id', {id: 1}) }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product-id', {id: 1}) }}</a>
            (custom Serializer)</div>
        &nbsp;
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/name-dql', {param: 'key'}) }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/name-dql', {param: 'key'}) }}</a>
            (DQL)</div>
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/price-qb', {param: 1999}) }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/price-qb', {param: 1999}) }}</a>
            (QB)</div>
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/description-sql', {param: 'and'}) }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/description-sql', {param: 'and'}) }}</a>
            (SQL)</div>
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/description-native', {param: 'and'}) }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/description-native', {param: 'and'}) }}</a>
            (Native Query)</div>
        &nbsp;
        <div><a href='{{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/seed') }}'>
                {{ path(constant('App\\Constant::APP_ROUTE_API') ~ '/product/seed') }}</a>
            (Validator)</div>
    </div>
{% endblock %}
