{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block style %}
    <style>
        .hello {margin: 1em 0; font: 18px/1.5 sans-serif; display: flex; flex-wrap: wrap; white-space: nowrap;}
        .hello > h3 {margin: 0 1em;}

        .helloContent {padding: 1em; font: 18px/1.5 sans-serif; display: flex; flex-direction: column;}
    </style>
{% endblock %}

{% block main %}
    <div class='hello'>
        <h3>✅ Hello Symfony!</h3>
        <h3>✅ Hello DB!</h3>
    </div>
    <hr/>

    <div class='helloContent' style=''>
        {% set routeApi = constant('App\\Constant::APP_ROUTE_API') %}
        <a href='/api'>API Platform</a>
        &nbsp; {##}
        <div>Custom APIs:</div>
        &nbsp; {##}
        {% set href = path(routeApi ~ '/product') %}
        <div><a href='{{ href }}'>{{ href }}</a></div>
        {% set href = path(routeApi ~ '/product', {id: 1}) %}
        <div><a href='{{ href }}'>{{ href }}</a> (API Platform default Serializer)</div>
        {% set href = path(routeApi ~ '/product-id', {id: 1}) %}
        <div><a href='{{ href }}'>{{ href }}</a> (custom Serializer)</div>
        &nbsp; {##}
        {% set href = path(routeApi ~ '/product-name', {name: 'Keyboard'}) %}
        <div><a href='{{ href }}'>{{ href }}</a></div>
        {% set href = path(routeApi ~ '/product/name-dql', {param: 'key'}) %}
        <div><a href='{{ href }}'>{{ href }}</a> (DQL)</div>
        {% set href = path(routeApi ~ '/product/price-qb', {param: 1999}) %}
        <div><a href='{{ href }}'>{{ href }}</a> (QB)</div>
        {% set href = path(routeApi ~ '/product/description-sql', {param: 'and'}) %}
        <div><a href='{{ href }}'>{{ href }}</a> (SQL)</div>
        {% set href = path(routeApi ~ '/product/description-native', {param: 'and'}) %}
        <div><a href='{{ href }}'>{{ href }}</a> (Native Query)</div>
        &nbsp; {##}
        {% set href = path(routeApi ~ '/product/seed') %}
        <div><a href='{{ href }}'>{{ href }}</a> (Validator)</div>
    </div>
{% endblock %}
